<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>armTypeList</key>
	<string>iphoneos,iphonesimulator</string>
	<key>buildDir</key>
	<string>Build</string>
	<key>configType</key>
	<string>Release</string>
	<key>onlyActiveArch</key>
	<string>NO</string>
	<key>projectName</key>
	<string>MMLibrary.xcodeproj</string>
	<key>targetName</key>
	<string>MMLibrary</string>
</dict>
</plist>
